node_modules
dist
dist-ssr
coverage
*.local
.DS_Store
.vite
.idea
*.log
tsconfig.tsbuildinfo
*.tsbuildinfo
android/local.properties
android/.gradle
android/app/build
android/build
android/capacitor-cordova-android-plugins/build
apk/
data/
server/data/
server/node_modules/
server/dist/
